body {
    background: #ecf3f3;
   
  }
  
  .particle {
    position: absolute;
    border-radius: 50%;
    
    
  }
  /*/*
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(79vw, 77vh, 64px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(79vw, 77vh, 64px);
    }
  }
  */
  .particle:nth-child(1) {
/*
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
*/
    opacity: 0.33;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(51vw, 82vh, 70px);
    background: #ca26d9;
  }
  /*/*
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(31vw, 56vh, 50px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(31vw, 56vh, 50px);
    }
  }
  */
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.99;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(22vw, 71vh, 84px);
    background: #4d26d9;
  }
  /*
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(16vw, 67vh, 79px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(16vw, 67vh, 79px);
    }
  }
  */
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.88;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(3vw, 38vh, 81px);
    background: #d93e26;
  }
  /*
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(20vw, 44vh, 85px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(20vw, 44vh, 85px);
    }
  }
  */
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.88;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(9vw, 49vh, 52px);
    background: #266ed9;
  }
  /*
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(50vw, 72vh, 79px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(50vw, 72vh, 79px);
    }
  }
  */
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.05;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(21vw, 58vh, 3px);
    background: #2fd926;
  }
  /*
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(8vw, 75vh, 30px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(8vw, 75vh, 30px);
    }
  }
  */
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.56;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(23vw, 1vh, 69px);
    background: #2632d9;
  }
  /*
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(40vw, 20vh, 63px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(40vw, 20vh, 63px);
    }
  }
  */
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.23;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(79vw, 65vh, 15px);
    background: #a026d9;
  }
  /*
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(57vw, 4vh, 85px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(57vw, 4vh, 85px);
    }
  }
  */
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.81;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(25vw, 50vh, 61px);
    background: #d9b826;
  }
  /*
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(44vw, 66vh, 92px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(44vw, 66vh, 92px);
    }
  }
  */
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.64;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(10vw, 19vh, 25px);
    background: #d92668;
  }
  /*
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(70vw, 73vh, 86px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(70vw, 73vh, 86px);
    }
  }
  */
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 1;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(5vw, 65vh, 69px);
    background: #d95026;
  }
  /*
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(14vw, 63vh, 100px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(14vw, 63vh, 100px);
    }
  }
  */
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.72;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(71vw, 1vh, 90px);
    background: #74d926;
  }
  /*
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(75vw, 56vh, 11px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(75vw, 56vh, 11px);
    }
  }
  */
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.41;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(44vw, 15vh, 29px);
    background: #d9bb26;
  }
  /*
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(87vw, 90vh, 90px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(87vw, 90vh, 90px);
    }
  }
  */
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.24;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(25vw, 33vh, 26px);
    background: #d9bb26;
  }
  /*
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(34vw, 85vh, 53px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(34vw, 85vh, 53px);
    }
  }
  */
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.7;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(30vw, 80vh, 13px);
    background: #2647d9;
  }
  /*
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(85vw, 45vh, 78px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(85vw, 45vh, 78px);
    }
  }
  */
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.27;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(7vw, 52vh, 3px);
    background: #269dd9;
  }
  /*
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(63vw, 82vh, 58px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(63vw, 82vh, 58px);
    }
  }
  */
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.93;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(58vw, 84vh, 70px);
    background: #26d94d;
  }
  /*
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(2vw, 36vh, 77px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(2vw, 36vh, 77px);
    }
  }
  */
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.97;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(22vw, 42vh, 41px);
    background: #2644d9;
  }
  /*
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(75vw, 66vh, 40px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(75vw, 66vh, 40px);
    }
  }
  */
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.76;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(72vw, 72vh, 35px);
    background: #d92650;
  }
  /*
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(61vw, 84vh, 12px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(61vw, 84vh, 12px);
    }
  }
  */
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.91;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(87vw, 46vh, 64px);
    background: #d9b826;
  }
  /*
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(70vw, 56vh, 5px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(70vw, 56vh, 5px);
    }
  }
  */
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.55;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(41vw, 14vh, 46px);
    background: #6526d9;
  }
  /*
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(63vw, 47vh, 12px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(63vw, 47vh, 12px);
    }
  }
  */
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.52;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(3vw, 19vh, 86px);
    background: #263bd9;
  }
  /*
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(40vw, 54vh, 87px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(40vw, 54vh, 87px);
    }
  }
  */
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.89;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(37vw, 73vh, 50px);
    background: #c126d9;
  }
  /*
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(39vw, 12vh, 2px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(39vw, 12vh, 2px);
    }
  }
  */
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.34;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(21vw, 25vh, 59px);
    background: #26d97a;
  }
  /*
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(67vw, 22vh, 39px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(67vw, 22vh, 39px);
    }
  }
  */
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.73;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(71vw, 30vh, 74px);
    background: #d92656;
  }
  /*
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(50vw, 54vh, 52px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(50vw, 54vh, 52px);
    }
  }
  */
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.61;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(37vw, 36vh, 10px);
    background: #a626d9;
  }
  /*
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(45vw, 41vh, 40px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(45vw, 41vh, 40px);
    }
  }
  */
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.96;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(1vw, 14vh, 36px);
    background: #d926a9;
  }
  /*
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(12vw, 23vh, 69px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(12vw, 23vh, 69px);
    }
  }
  */
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.2;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(35vw, 20vh, 63px);
    background: #a6d926;
  }
  /*
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(13vw, 90vh, 29px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(13vw, 90vh, 29px);
    }
  }
  */
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.1;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(74vw, 52vh, 37px);
    background: #d9262f;
  }
  /*
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(48vw, 3vh, 24px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(48vw, 3vh, 24px);
    }
  }
  */
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.19;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(62vw, 89vh, 89px);
    background: #d94426;
  }
  /*
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(35vw, 73vh, 39px);
    }
  }
  */
  
  /*
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(35vw, 73vh, 39px);
    }
  }
  */
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.17;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(40vw, 40vh, 40px);
    background: #d9b826;
  }

  .buttonNav{
    padding: 1.2em;
    width: 100%;
    margin: 0;
    background: rgb(28,132,132);
    background: linear-gradient(87deg, rgba(28,132,132,1) 30%, rgba(104,192,195,1) 50%, rgba(28,132,132,1) 80%);
    border: none;
    color: white;
    font-size: large;
  }

  .colNav :hover{
    background: rgba(104,192,195,1);
    background: linear-gradient(87deg, rgba(104,192,195,1) 30%, rgba(28,132,132) 50%, rgba(104,192,195,1) 80%);

    color: black ;
    transition: all 1s;
    
  }
  button:hover{
    color: black;

  }
  .headTable{
    color: white !important;
    background: rgb(28,132,132) !important;
    background: linear-gradient(87deg, rgba(28,132,132,1) 30%, rgba(104,192,195,1) 50%, rgba(28,132,132,1) 80%) !important;
  }

 
  

 


  @media (min-width: 800px) {
    /* … */ 
    #navUl{
        display: none;
        
    }
    

  }
  @media (max-width: 800px) {
    /* … */ 
    
    #navPrincipal{
        background: rgb(28,132,132);
        background: linear-gradient(87deg, rgba(28,132,132,1) 30%, rgba(104,192,195,1) 72%, rgba(227,247,246,1) 92%);                       color: white;
    
     }
     a { color:  white !important;}
     #navSecundario{
        display: none;
    }
    #h1User{
        display: none;
    }
    #tableExamenes{
        font-size: 10px;
    }
    #tablePreliminar{
        font-size: 10px;
    }
    svg{
        width: 15px;
    }

  }
  
 