body {
  background: rgb(214,255,242);
  background: linear-gradient(180deg, rgba(214,255,242,1) 05%, rgba(255,255,255,1) 11%, rgba(255,255,255,1) 89%, rgba(214,255,242,1) 95%); }
  
  .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url('../imgs/mujer-laboratorio-login.jpg');
    background-size: cover;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
  }
  
  .btn-google {
    color: white !important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white !important;
    background-color: #3b5998;
  }