.rowNav {
  border: solid 3px #1c8c9b;
  transition: all 1s;
}

.rowNav:hover {
  box-shadow: 2px 2px 2px 2px #c4c4c4;
}
.acordionEstadistica {
  transition: all 1s;
}
.acordionEstadistica:hover {
  box-shadow: 1px 1px 1px 1px #1c8c9b;
}
th {
  cursor: pointer;
  color: white !important;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(28, 140, 155) 15%,
    rgb(28, 140, 155) 85%,
    rgba(255, 255, 255, 1) 100%
  );
}
